<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="//STDKIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>

<body>

  <!-- Прелоадер -->

  <div class="flex flex-col items-center justify-center fixed z-10 inset-0 bg-white duration-5" data-preloader>
    <div class="preloader">
      <div class="preloader-circle"></div>
    </div>
  </div>

  <!-- Навигация -->

  <% var nav = [
    {
      id: '#catalog',
      text: 'Каталог'
    },
    {
      id: '#about',
      text: 'О компании'
    },
    {
      id: '#reviews',
      text: 'Видео-отзывы'
    },
    {
      id: '#partnership',
      text: 'Партнерство'
    },
    {
      id: '#gallery',
      text: 'Фотогалерея'
    },
    {
      id: '#contacts',
      text: 'Контакты'
    }
  ] %>

  <nav class="container hidden xl:flex items-center justify-between gap-5 sticky z-4 top-0 left-0 right-0 bg-white py-4">
    <% for (var i = 0; i < nav.length; i++) { %>
    <a class="btn btn-gray font-normal text-black text-opacity-60" data-scroll data-waved="dark" href="<%= nav[i].id %>"><%= nav[i].text %></a>
    <% } %>
  </nav>

  <!-- Мобильная шапка -->

  <header class="header container flex xl:hidden items-center justify-between gap-3 sticky z-3 top-0 left-0 right-0 bg-white py-2 duration-3" data-header>
    <button class="btn btn-gray" data-sidebar-open="menu" data-waved="dark">
      <svg class="icon text-black text-24 mr-2">
        <use xlink:href="img/icons.svg#burger">
      </svg>
      <span class="font-normal text-black text-opacity-60 text-14">Меню</span>
    </button>
    <button class="btn btn-gray" data-sidebar-open="series" data-waved="dark">
      <svg class="icon text-black text-24 mr-2">
        <use xlink:href="img/icons.svg#dots">
      </svg>
      <span class="font-normal text-black text-opacity-60 text-14">Каталог</span>
    </button>
  </header>

  <!-- Шапка документа -->

  <header class="container flex items-center justify-between gap-3 py-4">
    <a class="btn btn-gray" data-waved="dark" href="/">
      <picture>
        <source srcset="img/pictures/logo.webp" type="image/webp">
        <img class="w-10 md:w-16 lg:w-[88px]" src="img/pictures/logo.png" alt="">
      </picture>
      <div class="flex flex-col ml-3 md:ml-4">
        <span class="font-alt font-bold text-black text-14 md:text-20 leading-1">РесурсАгроСтрой</span>
        <span class="hidden md:block font-normal text-black text-opacity-60 text-12 leading-1 mt-2">Производитель почвообрабатывающей техники</span>
      </div>
    </a>
    <div class="hidden lg:flex items-center gap-14">
      <div class="flex items-center">
        <div class="flex items-center justify-center bg-black bg-opacity-20 rounded-4 w-10 h-10 mr-4">
          <svg class="icon text-white text-18 drop-shadow-md">
            <use xlink:href="img/icons.svg#mobile">
          </svg>
        </div>
        <div class="flex flex-col items-start">
          <a class="btn btn-gray font-alt font-semibold text-black leading-1 mb-1" data-waved="dark" href="tel: 8 800 100 45 92">8 800 100 45 92</a>
          <a class="btn btn-gray font-normal text-black text-opacity-60 text-12 leading-1" data-waved="dark" href="mailto: mail@resurs-agro.ru">mail@resurs-agro.ru</a>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex items-center justify-center bg-black bg-opacity-20 rounded-4 w-10 h-10 mr-4">
          <svg class="icon text-white text-18 drop-shadow-md">
            <use xlink:href="img/icons.svg#geo">
          </svg>
        </div>
        <div class="flex flex-col items-start">
          <span class="font-alt font-semibold leading-1 mb-1">ст. Новотитаровская</span>
          <span class="font-normal text-black text-opacity-60 text-12 leading-1">ул. Калинина, д. 12/1</span>
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-lg btn-contur btn-swipe hidden xl:flex text-black" data-waved="dark" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-feedback.html">Консультация специалиста</button>
    <div class="flex lg:hidden flex-col items-end">
      <a class="btn btn-gray font-alt font-semibold text-black text-14 md:text-16 leading-1" data-waved="dark" href="tel: 8 800 100 45 92">8 800 100 45 92</a>
      <button class="btn btn-gray font-normal text-black text-opacity-60 text-12 md:text-14 leading-1 border-b border-dashed border-black border-opacity-80 pb-0.5" data-waved="dark">Консультация</button>
    </div>
  </header>

  <!-- Меню -->

  <div class="menu fixed inset-0 z-6 duration-1" data-sidebar="close" data-sidebar-resize="xl" id="menu">
    <div class="menu__content flex flex-col bg-white overflow-auto w-full max-w-[375px] h-full py-4 px-4 pb-6 duration-3">
      <div class="flex items-center justify-between gap-1 mb-12">
        <a class="btn btn-gray" data-waved="dark" href="/">
          <picture>
            <source srcset="img/pictures/logo.webp" type="image/webp">
            <img class="w-11" src="img/pictures/logo.png" alt="">
          </picture>
          <div class="flex flex-col ml-3">
            <span class="font-alt font-bold text-black text-14 leading-1">РесурсАгроСтрой</span>
            <span class="font-normal text-black text-opacity-60 text-8 leading-1 mt-1">Производитель почвообрабатывающей техники</span>
          </div>
        </a>
        <button class="btn btn-gray text-black text-opacity-40 text-20 p-1" data-sidebar-close="menu" data-waved="dark">
          <svg class="icon">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
      </div>
      <div class="flex flex-col items-start gap-10 mb-14">
        <% for (var i = 0; i < nav.length; i++) { %>
        <a class="btn btn-gray font-medium text-black text-14" data-scroll data-waved="dark" href="<%= nav[i].id %>"><%= nav[i].text %></a>
        <% } %>
      </div>
      <div class="mt-auto">
        <div class="flex flex-col gap-6 mb-14">
          <div class="flex items-center">
            <div class="flex items-center justify-center bg-black bg-opacity-20 rounded-4 w-10 h-10 mr-4">
              <svg class="icon text-white text-18 drop-shadow-md">
                <use xlink:href="img/icons.svg#mobile">
              </svg>
            </div>
            <div class="flex flex-col items-start">
              <a class="btn btn-gray font-alt font-semibold text-black leading-1 mb-1" data-waved="dark" href="tel: 8 800 100 45 92">8 800 100 45 92</a>
              <a class="btn btn-gray font-normal text-black text-opacity-60 text-12 leading-1" data-waved="dark" href="mailto: mail@resurs-agro.ru">mail@resurs-agro.ru</a>
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex items-center justify-center bg-black bg-opacity-20 rounded-4 w-10 h-10 mr-4">
              <svg class="icon text-white text-18 drop-shadow-md">
                <use xlink:href="img/icons.svg#geo">
              </svg>
            </div>
            <div class="flex flex-col items-start">
              <span class="font-alt font-semibold leading-1 mb-1">ст. Новотитаровская</span>
              <span class="font-normal text-black text-opacity-60 text-12 leading-1">ул. Калинина, д. 12/1</span>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-lg btn-contur btn-swipe text-black w-full" data-waved="dark">Консультация специалиста</button>
      </div>
    </div>
  </div>

  <!-- Серии -->

  <div class="menu fixed inset-0 z-6 duration-1" data-sidebar="close" data-sidebar-resize="xl" id="series">
    <div class="menu__content flex flex-col bg-white overflow-auto w-full max-w-[375px] h-full py-4 px-4 pb-6 duration-3">
      <div class="flex items-center justify-between gap-1 mb-12">
        <a class="btn btn-gray" data-waved="dark" href="/">
          <picture>
            <source srcset="img/pictures/logo.webp" type="image/webp">
            <img class="w-11" src="img/pictures/logo.png" alt="">
          </picture>
          <div class="flex flex-col ml-3">
            <span class="font-alt font-bold text-black text-14 leading-1">РесурсАгроСтрой</span>
            <span class="font-normal text-black text-opacity-60 text-8 leading-1 mt-1">Производитель почвообрабатывающей техники</span>
          </div>
        </a>
        <button class="btn btn-gray text-black text-opacity-40 text-20 p-1" data-sidebar-close="series" data-waved="dark">
          <svg class="icon">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
      </div>
      <div class="flex flex-col gap-9">
        <% for (var i = 0; i < 4; i++) { %>
        <div class="flex flex-col gap-5">
          <h3 class="font-semibold text-16 leading-1">Серия КРОНОС</h3>
          <div class="flex items-stretch">
            <div class="pack pack-rect-sm bg-grey rounded-4 w-full max-w-[115px] h-full mr-4">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/series.webp" type="image/webp">
                <img class="image" loading="lazy" src="img/pictures/series.jpg" alt="">
              </picture>
            </div>
            <div class="flex flex-col items-start gap-3 text-14 leading-2">
              <div class="flex flex-col">
                <span class="font-semibold">Рабочая скорость:</span>
                <span class="font-normal">до 16 км/ч</span>
              </div>
              <div class="flex flex-col">
                <span class="font-semibold">Ширина захвата:</span>
                <span class="font-normal">от 2,5 до 8,2 м.</span>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-contur btn-swipe text-black" data-waved="dark">Подробнее</button>
        </div>
        <% } %>
      </div>
    </div>
  </div>