// Полоса прокрутки
* {
  scrollbar: {
    width: thin;
    color: theme("colors.primary.DEFAULT") theme("colors.grey.DEFAULT");
  }

  &::-webkit-scrollbar {
    @media(pointer: fine) {
      @apply w-3;

      &-track {
        @apply bg-grey;

        &-piece {
          @apply my-2;
        }
      }

      &-thumb {

        &:active {
          box-shadow: inset 0 8px 8px theme("colors.black.DEFAULT / 50%");
        }

        @apply bg-primary rounded-2 border-2 border-solid border-grey;
      }

      &-corner {
        @apply bg-grey;
      }
    }
  }
}